@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    font-family: 'Nunito', sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
    background-color: #eee;
}

.navbar {
    background-color:#EC1D24;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

